<div class="about-container" *ngIf="hideComponentService.aboutVisible">
  <div class="about-title">About</div>
  <div class="about-content">
    <div class="about-img"></div>
    <div class="about-description">
      <div class="about-desc-one">
        <p>
          My work relies on front-end and back-end development. Associated with
          these are HTML, CSS/SCSS, JavaScript/TypeScript, C-Sharp and SQL.
          Other tools I worked with or am currently working with are listed on
          my GitHub Profile. Outside of this, I work on building and maintaining
          websites using WordPress and PHP.
        </p>
      </div>
      <div class="about-desc-two">
        <p>
          I love classical music. Be it either the elegant Chopin, gentle Bach,
          graceful Mozart or even the bizarre Satie. They and more impacted me
          so greatly in my daily life that I started taking piano lessons in
          2018 until now.
        </p>
      </div>
      <div class="about-desc-three">
        <p>
          I'm also into Metal music and its different sub-genres, but mostly
          metal core. When I made my first contact with the band Wolves At The
          Gate and its album Eulogies, released in 2022, I knew that I had
          discovered a new favorite music genre.
        </p>
        <p>
          When I'm not coding or making music, I enjoy reading books about dark
          fantasy-themed stories, biographies and apologetic subjects, mostly
          Christian- and Islam-related.
        </p>
      </div>
    </div>
  </div>
</div>
