:root {
  $primary-a0: #ffffff;
  $primary-a10: #7ec6ce;
  $primary-a20: #6bbec7;
  $primary-a30: #59b6c0;
  $primary-a50: #50b2bd;
  $primary-a60: #3f9ca6;
  $primary-a70: #388b94;
  $primary-a80: #317981;
  $primary-a90: #000000;
}
