<div
  id="introduction"
  class="introduction-container"
  *ngIf="hideComponentService.introVisible"
>
  <div class="introduction-content">
    <div class="grid-one">
      <p>
        I work as a Software Developer. At the same time I'm pursuing my dream
        as a musician.
      </p>
    </div>
    <div class="grid-two">
      <div class="introduction-title">
        <span>a</span>
        <span>n</span>
        <span>d</span>
        <span>r</span>
        <span>e</span>
        <span>j</span>
      </div>
      <div class="keyword-description">
        <div>software developer</div>
        <div class="key-connector">&</div>
        <div>musician</div>
      </div>
    </div>
  </div>
</div>
