<div class="work-container" *ngIf="hideComponentService.workVisible">
  <div class="work-title">Selected work</div>
  <div class="work-content">
    <div class="work-description">
      <div class="work-desc-one">
        I built this website to promote my current portfolio and also to share
        my passion and interest for music. For this project, I used Angular,
        Angular Material and Angular Animations.
      </div>
      <div class="work-desc-two">
        Assessment is a tool to create different kinds of forms. Helping
        companies create digital tests and surveys to get data in a short period
        of time. It was implemented with Angular and ASP.NET Core.
      </div>
      <div class="work-desc-three">
        Fading Hell is a band with no restrictions in conventions. It was
        founded back in 2023 by an idea of mine to bring our passion for music
        and for what we stand for to the public. To come one step closer to
        fulfilling that dream, I created a website to promote our ideas and
        concepts. The tools that were used were mainly WordPress, Elementor and
        Uberspace.
      </div>
    </div>
    <div class="work-visuals">
      <div class="work-vis-one">
        <img src="assets/images/placeholder-image10.jpg" />
      </div>
      <div class="work-vis-three">
        <img src="assets/images/placeholder-image10.jpg" />
      </div>
      <div class="work-vis-two">
        <img src="assets/images/placeholder-image10.jpg" />
      </div>
    </div>
  </div>
  <div class="con-links">
    <div class="cv-download">
      <a href="">Get Cv</a>
    </div>
    <div class="git-link">
      <a href="https://github.com/andrejkoller" target="_blank">Github</a>
    </div>
  </div>
</div>
